<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jquery_jsp.mapper.FileMapper">

    <!--  Select All  -->
    <select id="getAll" resultType="com.example.jquery_jsp.domain.File">
        SELECT * FROM fileTbl;
    </select>

    <!--  insert   -->
    <insert id="createFile" parameterType="com.example.jquery_jsp.domain.File">
        INSERT INTO fileTbl (origFileName, fileName, filePath, createdAt)
        VALUES
            (#{origFileName},#{fileName},#{filePath}, now());
    </insert>
</mapper>